{% extends "index.html" %}
{% block content %}
<h2>About Phoenix</h2>
<p>Phoenix Chatbot is your personal assistant built to answer questions and chat with you.</p>

<!-- Ad inside About page -->
<ins class="adsbygoogle"
     style="display:block; margin-top:20px;"
     data-ad-client="ca-pub-5149547050862927"
     data-ad-slot="3571851756"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}
